@model IEnumerable<DATN.Models.EF.BookingHotel>
@{
    ViewBag.Title = "Nhập khách sạn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/BookingHotel" class="nav-link">Nhà trọ</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý nhà trọ</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Home">Home</a></li>
                    <li class="breadcrumb-item active">Nhà trọ</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách nhà trọ</h3>

            <div class="card-tools">
                <a href="/Admin/BookingHotel/Add" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên khách sạn</th>
                        <th>Địa chỉ</th>
                        <th>Thành phố</th>
                        @*<th>Image</th>*@
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.NameBookingHotel</td>
                                <td>@item.AddressBookingHotel</td>
                                <td>@item.CityBookingHotel</td>
                                @*<td><img src="@item.ImageHotel.FirstOrDefault().src" width="50" /></td>*@
                                <td>
                                    <a href="/Admin/BookingHotel/Edit/@item.Id" class="btn btn-sm btn-primary">Sửa</a>
                                    <a href="/Admin/BookingHotel/Delete/@item.Id" class="btn btn-sm btn-danger">Xóa</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có giá trị nào</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->